body {
    font-size: 1.3;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    height: 100vh;
    background: url("https://images.pexels.com/photos/3784424/pexels-photo-3784424.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center/cover;
    z-index: -2;
}

.game-container {
    position: relative;
    z-index: 1; /* Ensure the game container is on top */
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for better visibility */
}

.play-random-btn {
    display: inline-block;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    background-color: #3498db;
    box-shadow: 2px 2px 2px #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

.play-random-btn:hover {
    background-color: #2980b9;
}

.result-container {
    margin-top: 20px;
}

.input {
    padding: 10px;
}

.spotify-iframe {
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 80px;
    overflow: hidden;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #3498db;
    box-shadow: 2px 2px 2px #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }

 .btn:hover {
    background-color: #2980b9;
 }

 .about-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 95%;
    width: 400px;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: #212529;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    opacity: 0.9;
    z-index: 3;
}

.about-modal h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal-inner {
    list-style: none;
    padding: 0;
}

.modal-inner li {
    padding: 8px 0;
    margin: 20px 0;
    width: 90%;
}

.about-modal p {
    margin-top: 20px;
    font-style: italic;
    color: whitesmoke;
}

.about-close {
    color: #FFCC68;
}

.about-close:hover {
    font-size: 2.1rem;
    opacity: 0.75;
}

.about {
    text-decoration: none;
    color: #fff;
}